@import "./variables.less";

.global-footer {
	background: @color_darkteal;
	padding: 1rem;
	.layout-standard-site-section-osn & {
		display: none;
		@media screen and (min-width: 800px) {
			display: block;
		}
	}
	.footer-links-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0 auto;
		@media screen and (min-width: 600px) {
			width: 80vw;
			flex-direction: row;
		}
	}
	.footer-nav {
		display: flex;
		justify-content: center;
		padding: 1rem;
		text-align: center;
		&.footer-nav-gkm {
			flex: 1 0 50%;
		}
		&.footer-nav-dt,
		&.footer-nav-ad {
			flex: 1 0 25%;
			@media screen and (min-width: 600px) {
				border-left: 1px solid @color_mint;
			}
		}
		.footer-nav-title {
			color: @color_mint;
			font-weight: 700;
			line-height: 2.2rem;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			display: flex;
			align-items: center;
		}
		li {
			margin: 0;
			padding: 0;
			flex: 1;
			text-align: center;
		}
		a {
			color: #ffffff;
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			margin-left: 1rem;
			svg {
				height: 100%;
				width: 100%;
			}
		}
	}
}
