@import "./footer.less";
@import "./gkm-slider.less";
@import "./initial-question.less";
@import "./layout-standard.less";
@import "./nav-primary.less";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}
