@import "./breadcrumbs.less";
@import "./footer.less";
@import "./gkm-quadrant.less";
@import "./gkm-steps.less";
@import "./header.less";
@import "./layout-standard.less";
@import "./main.less";
@import "./nav-primary.less";
@import "./osn-view-attendee-poll.less";
@import "./osn-view-host-welcome.less";
@import "./page-intro.less";
@import "./page-thank-you.less";
@import "./site-section-matrix.less";
@import "./site-section-osn.less";
@import "./typography.less";
@import "./variables.less";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: @color_darkteal;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}
