.global-header {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	@media screen and (min-width: 600px) {
		width: 80vw;
	}
	h1 {
		color: white;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		margin: 0;
		text-align: center;
		padding: 1rem 1rem 0.25rem;
		font-size: 1.3rem;
		@media screen and (min-width: 600px) {
			padding: 2rem 2rem 0.25rem;
			font-size: 1.6rem;
		}
		@media screen and (min-width: 900px) {
			padding: 3rem 3rem 0.5rem;
			font-size: 3.2rem;
		}
	}
	.after-title-break {
		margin: 0 auto;
		width: 70%;
		display: block;
		stroke: white;
		stroke-width: 3;
		@media screen and (min-width: 900px) {
			stroke: @color_mint;
			width: 50%;
		}
	}
}
