.global-header {
	text-align: center;
	background-color: white;
	width: 100%;
	margin: 0 auto;
	@media screen and (min-width: 600px) {
		width: 80vw;
	}
	.layout-standard-site-section-osn & {
		display: none;
		@media screen and (min-width: 800px) {
			display: block;
		}
	}
}
