.dev-initial-question {
	display: flex;
}
.initial-question-host-view {
	flex: 0 0 50%;
	padding: 2rem;
	border-right: 5px solid black;
}
.initial-question {
	flex: 0 0 50%;
	padding: 2rem;
	.SliderRoot {
		padding: 0 2rem;
	}
}
.ranking-frame {
	position: relative;
}
.role-markers {
	display: flex;
	justify-content: space-around;
	.role {
		flex: 0 0 10%;
		text-align: center;
	}
}
.marker {
	// background: orange;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	position: absolute;
}
