.initial-question {
    .SliderRoot {
        padding: 0 2rem;
    }
    .marker {
        // background: orange;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        position: absolute;
    }
    .ranking-frame {
        position: relative;
    }
    .role-markers {
        display: flex;
        justify-content: space-around;
        .role {
            flex: 0 0 10%;
            text-align: center;
        }
    }
}