@import "./variables.less";

nav.primary-nav {
	margin: 0 auto;
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
	}
	li {
		position: relative;
		margin: 0.25rem;
		padding: 0;
		flex: 1;
		text-align: center;
	}
	a {
		display: block;
		padding: 1rem;
		text-decoration: none;
		color: @color_darkgrey;
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 0.5rem;
		font-weight: bold;
		&:hover {
			background-color: lighten(@color_mint, 30%);
		}
	}
	.nav-item-active a {
		background-color: @color_mint;
	}
}
