.osn-view-host-welcome {
	display: flex;
	flex-direction: column;
	flex: 1;
	.gkm-quadrant-x-axis-title,
	.gkm-quadrant-y-axis-title {
		font-size: 3rem;
		color: white;
	}
	.osn-quadrant-container .gkm-quadrant {
		grid-template-rows: 1fr 80px;
		grid-template-columns: 80px 1fr;
	}
}
