.site-section-matrix {
	.matrix-key {
		padding: 0 0 3rem;
		border-bottom: 5px double @color_blue;
	}
	.matrix-key-contents-container {
		display: flex;
	}
	.matrix-key-contents {
		flex: 1 0 50%;
		line-height: 1.8;
	}
	.matrix-key-quadrant {
		flex: 1 0 50%;
		max-width: 400px;

		.gkm-quadrant-click-area {
			cursor: default;
		}
	}
}
