.site-section-osn {
	.page-title {
		font-size: 10rem;
		text-align: center;
	}
	.osn-welcome-view {
		display: flex;
	}
	.osn-welcome-panel {
		flex: 1;
		position: relative;
		text-align: center;
	}
	.role-slider {
		display: flex;
		flex-direction: column;
		.role-markers {
			flex: 2 0 50%;
			display: flex;
			justify-content: space-around;
			.role {
				flex: 0 0 25%;
				text-align: center;
			}
		}
	}
	.ranking-frame {
		position: relative;
		.marker {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			position: absolute;
		}
		img {
			margin: 0 auto;
		}
	}
	.coords-table {
		margin: 0 auto;
		font-size: 0.8rem;
		border: solid #666;
		border-width: 1px 0 0 1px;
		th,
		td {
			padding: 0.25rem;
			border: solid #666;
			border-width: 0 1px 1px 0;
		}
	}
}
